@import 'bpmn-js/dist/assets/diagram-js.css';
@import 'bpmn-js/dist/assets/bpmn-font/css/bpmn.css';
@import 'bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css';
@import '@bpmn-io/properties-panel/dist/assets/properties-panel.css';

@import "@xyflow/react/dist/style.css";
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.5rem;
  --background: oklch(0.9846 0.0017 247.8389);
  --foreground: oklch(0.2781 0.0296 256.8480);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2781 0.0296 256.8480);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2781 0.0296 256.8480);
  --primary: oklch(0.6056 0.2189 292.7172);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9619 0.0179 272.3144);
  --secondary-foreground: oklch(0.3729 0.0306 259.7328);
  --muted: oklch(0.9670 0.0029 264.5419);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9433 0.0284 294.5878);
  --accent-foreground: oklch(0.5413 0.2466 293.0090);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.8112 0.1013 293.5712);
  --chart-1: oklch(0.6056 0.2189 292.7172);
  --chart-2: oklch(0.6268 0.2325 303.9004);
  --chart-3: oklch(0.7049 0.1867 47.6044);
  --chart-4: oklch(0.7227 0.1920 149.5793);
  --chart-5: oklch(0.6368 0.2078 25.3313);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2781 0.0296 256.8480);
  --sidebar-primary: oklch(0.6056 0.2189 292.7172);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9433 0.0284 294.5878);
  --sidebar-accent-foreground: oklch(0.5413 0.2466 293.0090);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.8112 0.1013 293.5712);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.05;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --font-serif: 'Lora', serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

.dark {
  --background: oklch(0.2433 0.0247 263.9506);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.3351 0.0331 260.9120);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: oklch(0.3351 0.0331 260.9120);
  --popover-foreground: oklch(0.9288 0.0126 255.5078);
  --primary: oklch(0.7090 0.1592 293.5412);
  --primary-foreground: oklch(0.2433 0.0247 263.9506);
  --secondary: oklch(0.4474 0.0343 261.3244);
  --secondary-foreground: oklch(0.9288 0.0126 255.5078);
  --muted: oklch(0.3351 0.0331 260.9120);
  --muted-foreground: oklch(0.7457 0.0304 254.7208);
  --accent: oklch(0.3604 0.0733 293.0543);
  --accent-foreground: oklch(0.8112 0.1013 293.5712);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.4474 0.0343 261.3244);
  --input: oklch(0.4474 0.0343 261.3244);
  --ring: oklch(0.7090 0.1592 293.5412);
  --chart-1: oklch(0.6056 0.2189 292.7172);
  --chart-2: oklch(0.6268 0.2325 303.9004);
  --chart-3: oklch(0.7049 0.1867 47.6044);
  --chart-4: oklch(0.7227 0.1920 149.5793);
  --chart-5: oklch(0.6368 0.2078 25.3313);
  --sidebar: oklch(0.2433 0.0247 263.9506);
  --sidebar-foreground: oklch(0.9288 0.0126 255.5078);
  --sidebar-primary: oklch(0.7090 0.1592 293.5412);
  --sidebar-primary-foreground: oklch(0.2433 0.0247 263.9506);
  --sidebar-accent: oklch(0.3604 0.0733 293.0543);
  --sidebar-accent-foreground: oklch(0.8112 0.1013 293.5712);
  --sidebar-border: oklch(0.4474 0.0343 261.3244);
  --sidebar-ring: oklch(0.7090 0.1592 293.5412);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.5rem;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.2;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.50);

  --bg-color: #121212;
  /* Google Material Dark Gray */
  --text-color: #ffffff;
  --panel-bg: #2c2c2c;
  --panel-border: #555;

  /* Override bpmn-js properties panel styles */
  .bio-properties-panel {
    background-color: var(--panel-bg);
    color: var(--text-color);
  }

  /* Override the diagram canvas background */
  .bjs-container>.djs-container>svg {
    background-color: var(--bg-color) !important;
  }

}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}